body {
  text-align: center;
  background-color: #f9f9f9;
}

#game h4 {
  text-decoration: underline;
}

.list {
  text-align: left;
  list-style-position: inside;
  max-width: 650px;
  display: block;
  margin: auto;
}

.jumbotron {
  max-width: 650px;
  display: block;
  margin: auto;
  padding: 40px !important;
  margin-bottom: 40px;
  background: linear-gradient(to bottom right, #006699 0%, #66ff66 100%);
  -webkit-text-stroke: 1px black;
   color: #66ff66;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.sidebar {
  background: #000 url("../img/geometric.jpg") center no-repeat;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.sidebar h4 {
  -webkit-text-stroke: 1px black;
   color: #66ff66;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  font-size: 33px;
}

.sidebar h6 {
  -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  font-size: 20px;
}

.sidebar a {
  color: white;
  text-decoration: underline;
}

.result h6 {
  background-color: #006699;
  color: white;
  display: inline;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  line-height: 2.2em;
}

#sub-btn {
  background: linear-gradient(to bottom right, #006699 0%, #66ff66 100%);
  margin-bottom: 40px;
  font-size: 23px;
  border-radius: 10px;
}

#num {
  max-width: 600px;
  display: block;
  margin: auto;
}

.form-control {
  background-color: #f9f9f9;
}
