body {
  text-align: center;
}

.list {
  text-align: left;
  list-style-position: inside;
  max-width: 650px;
  display: block;
  margin: auto;
}

.jumbotron {
  max-width: 650px;
  display: block;
  margin: auto;
  padding: 40px !important;
  margin-bottom: 40px;
}

#sub-btn {
  background: linear-gradient(to bottom right, #006699 0%, #66ff66 100%);
  margin-bottom: 40px;
}

#num {
  max-width: 600px;
  display: block;
  margin: auto;
}
